@charset "UTF-8";

body {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.font1 {
  font-family: 'Hina Mincho', serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.section_color {
  background-color: rgb(249, 246, 216);
}

.box_shadow1 {
  box-shadow: -10px 10px 20px 10px rgba(0, 0, 0, 0.25);
}

.box_shadow2 {
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.25);
}

.box_shadow3 {
  box-shadow: 15px 15px 0px gray;
}

header {
  height: 70px;
  width: 100%;
  padding: 1%;
  position: fixed;
  background-color: #fff;
  z-index: 100;
}

.header_inner {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.header_left {
  display: flex;
  align-items: center;
  height: 100%;
  width: 40%;
}

.header_logo_img {
  width: 10%;
  height: 100%;
}

.header_logo_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header_title {
  padding-left: 3%;
}

.header_title {
  font-size: 2rem;
}

.header_right {
  width: 50%;
  height: 100%;
}

.header_right ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header_right a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.header_right a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 5px;
  background: rgb(251, 84, 1);
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

.header_right a:hover::after {
  transform: scale(1, 1);
}

.header .drawer {
  visibility: hidden;
}

.btn {
  width :130px;
  height: 100%;
  margin: 0 auto;
  line-height: 3;
  padding: 1%;
  transition:all 0.3s ease-in-out 0s; 
}

.btn:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

.btn a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(168,242,207);
  text-align: center;
  color: black;
  border-radius: 20px;
  padding: 1%;
  border: 1px solid #000;
}

.photo_size {
  flex: 1.6;
}

.footer_wrapper {
  width: 100%;
  height:100%
}

.footer_top {
  width: 100%;
  height: 55vh;
  padding-top: 5%;
  padding-bottom: 5%;
}

.footer_top_img {
  width: 100%;
  height:100%;
}

.footer_top_img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer_under {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  margin: 0 auto;
  background-color: #91d8e8;
}

.footer_under_left {
  width: 40%;
  line-height: 4rem;
}

.footer_under_left h1 {
  font-size: 3rem;
}

.footer_under_right {
  width: 60%;
}

.footer_under_right_inner {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}

.footer_under_right_inner ul {
  line-height: 4rem;
}

.footer_under_right_inner ul a {
  line-height: 1.5rem;
}

.footer_right_icon {
  display: flex;
  align-items: start;
}

.twitter_icon,.insta_icon{
  margin-right:20%;
}

.twitter_icon img,.insta_icon img,.facebook_icon img {
  vertical-align: middle;
}

.footer_under_right a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.footer_under_right a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 5px;
  background: rgb(251, 84, 1);
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

.footer_under_right a:hover::after {
  transform: scale(1, 1);
}

@media screen and (max-width: 1024px) {
  .header_right {
      width: 80%;
    }
  
  .kannkyou_left_inner {
    width: 80%;
    padding-right: 8%;
  }
} 

@media screen and (max-width: 768px) {
  .font1 {
    font-size: 1.1rem;
  }

  .header_title {
    font-size: 1.4rem;
  }

  header .drawer {
    visibility: visible;
    width: 24px;
    position: absolute;
    top: 30px;
    right: 30px;
    border-top: solid 4px #030303;
    cursor: pointer;
    z-index: 100;
  }

  header .drawer::before,
  header .drawer::after {
    content: "";
    display: block;
    width: 24px;
    background: #000000;
    height: 4px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s;
  }

  header .drawer::before {
    top: 6px;
  }

  header .drawer::after {
    top: 15px;
  }

  .header_right {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: #fff;
  }

  .header_right ul {
    display: block;
  }

  header .header_right ul li {
    margin: 5% auto;
  }

  .header_right ul li a {
    line-height: 3;
    font-size: 1.75rem;
  }

  body.nav-open header .drawer {
    border-top: 0;
  }

  body.nav-open header .drawer::before {
    top: 9px;
    transform: rotate(-45deg);
  }

  body.nav-open header .drawer::after {
    top: 9px;
    transform: rotate(45deg);
  }
}

@media screen and (max-width: 425px) {
  
}