@charset "UTF-8";

.top {
  width: 100%;
  height: 100vh;
  background-image: url(../img/top_page/top\ page\ FV.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.top_inner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top_inner .sub_title {
  color: #fff;
  font-size: 1.5rem;
}

.top_inner .title {
  color: #fff;
  font-size: 4rem;
  font-family: 'Hina Mincho', serif;
}

/* TOPページの環境 */
.kannkyou_wrapper {
  width: 100%; 
}

.kannkyou_inner {
  width: 95%;
  padding: 5% 2%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kannkyou_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.kannkyou_left_inner {
  width: 65%;
}

.kannkyou_left_inner h1,.kannkyou_left_inner p{
  margin-bottom: 2rem;
}


.kannkyou_img {
  width: 100%;
  height: 60vh;
}

.kannkyou_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* TOPページの環境終わり */

.onnsenn_wrapper {
  width: 100%;
}

.onnsenn_inner {
  width: 95%;
  padding: 5% 2%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.onnsenn_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.onnsenn_left_inner {
  width: 65%;
}

.onnsenn_left_inner h1,.onnsenn_left_inner
p {
  margin-bottom: 2rem;
}

.onnsenn_img {
  width: 100%;
  height: 60vh;
}

.onnsenn_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ryouri_wrapper {
  width: 100%;
}

.ryouri_inner {
  width: 95%;
  padding: 5% 2%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ryouri_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.ryouri_left_inner {
  width: 75%;
  padding-right: 10%;
}

.ryouri_left_inner h1,.ryouri_left_inner p {
  margin-bottom: 2rem;
}


.ryouri_img {
  width: 100%;
  height: 60vh;
}

.ryouri_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news_wrapper {
  width: 100%;
}

.news_inner {
  width: 95%;
  text-align: center;
  margin: 0 auto;
  padding: 5% 2%;
}

.news_inner h1 {
  font-size: 2rem;
}

.news_photo_top {
  margin: 5% auto;
  width: 25%;
  height:auto;
}

.news_photo_top img {
  width: 100%;
  height: auto;
}

.news_photo_under {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;align-items: center;
}

.news_photo_under_block {
  width: 20%;
}

.news_photo_under_block img {
  width: 70%;
  transition:all 0.2s ease-in-out 0s;
}

.news_photo_under_block img:hover {
  transform: scale(1.1);
}

.news .btn {
  margin-top: 5%;
}

@media screen and (max-width: 1024px) {
  .ryouri_left_inner {
    width: 62%;
  }

  .kannkyou_left_inner {
    width: 86%;
  }

  .onnsenn_left_inner {
    width: 75%
  }
}

@media screen and (max-width: 768px) {
  .kannkyou_left_inner{
  width: 80%;
  }

  .onnsenn_left_inner {
    width: 68%;
  }

  .kannkyou_inner p,.onnsenn_left_inner p,.ryouri_left_inner p{
    font-size: 0.7rem;
  }

}

@media screen and (max-width: 425px) {

  .kannkyou_inner {
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 90%;
    }

  .kannkyou_left_inner {
    padding-top: 3rem;
    width: 59%;
    padding-right: 0;
  }

  .kannkyou_left_inner p,.onnsenn_inner p,.ryouri_left_inner p{
    font-size: 0.7rem;
  }
  
  .kannkyou_img {
    height: 50vh;
  }

  .onnsenn_inner {
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 90%;
  }

  .onnsenn_left_inner {
    padding-top: 3rem;
    width: 72%;
  }

  .onnsenn_img {
    height: 50vh;
  }

  .ryouri_inner {
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 90%;
  }

  .ryouri_left_inner {
    padding-top: 3rem;
    width: 70%;
    padding-right: 0;
  }

  .onnsenn_img {
    height: 50vh;
  }

  h1.font1 {
    text-align: center;
  }

  .news_inner {
    padding: 3rem  2%;
  }

  .footer_under_left h1 {
  text-align: left;
  }

  .news_photo_under_block {
    width: 25%;
  }
}

@media screen and (max-width: 375px) {

.kannkyou_left_inner {
  width: 70%;
}
}